# Build folders
build/
*.o
*.obj
*.so
*.dll
*.dylib

# Virtual environment
.venv/
__pycache__/
*.pyc
*.pyo

# IDE/Editor settings
.vscode/
.idea/
*.swp

# Conan
conan.lock
conanbuildinfo.*
build/
CMakeUserPresets.json

# Logs and debugging
*.log
*.tmp
*.bak

# OS-specific files
.DS_Store
Thumbs.db

.cache/
compile_commands.json
